@font-face {
  font-family: 'Roboto';
  font-display: fallback;
  src: local('Roboto'), url(fonts/roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    url(fonts/material_icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html{
	font-family: 'Roboto', sans-serif;
}

nav{
	height:7%;
	padding-top: 0px;
	color: #111111;
	background-color: #FFFFFF;
}

nav .brand-logo{
	padding-top: 0px;
	color: #111111;
	background-color: #FFFFFF;
}

.page-footer{
	padding-top: 0px;
	color: #111111;
	background-color: #FFFFFF;
}

.page-footer .footer-copyright{
	padding-top: 0px;
	color: #111111;
	background-color: #FFFFFF;
}

body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
}

img{
	min-height: 128px;
	max-height: 128px;
}

#screen1{
	font-size: 6em;
	display: none;
}

#screen2{
	font-size: 6em;
	display: none;
}

#screen3{
	font-size: 6em;
	display: none;
}

.btn-floating.btn-xlarge {
	width: 112px;
	height: 112px;
	padding: 0;
}

.btn-floating.btn-xlarge i{
	line-height: 112px;
	font-size: 3.2rem;
}

#mic{
	display: none;
	margin-top: 2em;
}

#sign_in_button{
	display: none;
}

#username_profile{
	display: none;
}

#crocket{
	display: none;
}

#load{
	display: none;
}

svg {
	display: inline;
	width: 300px;
	height: 130px;
	margin: 0 auto;
}

.text-copy {
	fill: none;
	font-size: 1.5em;
	stroke: white;
	stroke-dasharray: 6% 29%;
	stroke-width: 5px;
	stroke-dashoffset: 0%;
	animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #FFA500;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #B24F30;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #BADA55;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.vt-wrapper {
	display: none;
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
}

.vt-wrapper video {
	width: 100%;
}

.vt-wrapper svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vt-wrapper svg text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 40px;
}

.vt-wrapper svg > rect {
	-webkit-mask: url(#mask);
	mask: url(#mask);
}

.vt-wrapper svg rect {
	fill: #fff;
}

.vt-wrapper:before, .vt-wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	width: 10px;
	height: 100%;
	background-color: #fff;
}

.vt-wrapper:before {
	left: -9px;
}

.vt-wrapper:after {
	right: -5px;
}
